/*!
 * Flat UI Free v2.2.0 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2014 Designmodo, Inc.
 */


.docs-example-popovers {
  position: relative;
  margin: -20px -20px 0;
  }
.docs-example-popovers:before,
.docs-example-popovers:after {
  display: table;
  content: " ";
  }
.docs-example-popovers:after {
  clear: both;
  }
.docs-example-popovers .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
  }
.demo-headline {
  padding: 40px 0;
  margin-top: 2px;
  margin-bottom: 50px;
  font: 700 118px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #1abc9c;
  text-align: center;
  word-wrap: break-word;
  }
.demo-row {
  width: 940px;
  padding: 0 20px 50px;
  margin: 0 auto;
  }
.demo-row:before,
.demo-row:after {
  display: table;
  content: " ";
  }
.demo-row:after {
  clear: both;
  }
.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 260px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #c0c1c2;
  }
.demo-row .demo-text-note {
  top: 10px;
  bottom: auto;
  }
.demo-row.menu-row {
  padding: 50px 20px 10px;
  }
.demo-row.typography-row .demo-content {
  float: none;
  width: auto;
  padding-top: 0;
  margin-left: 20px;
  clear: both;
  }
.demo-row.typography-row .demo-type-example {
  position: relative;
  padding-left: 265px;
  margin-bottom: 40px;
  }
.demo-col {
  float: left;
  width: 270px;
  margin: 0 20px;
  }
.demo-content {
  float: left;
  width: 580px;
  margin-left: 20px;
  }
.demo-content.demo-content-article p {
  margin-bottom: 20px;
  }
.demo-content.demo-content-article ul {
  margin-left: 0;
  list-style-type: none;
  }
.demo-content.demo-content-article li {
  padding: 0 0 5px;
  line-height: 35px;
  }
.demo-content-wide {
  margin: 0 20px;
  clear: both;
  }
.demo-content-wide:before,
.demo-content-wide:after {
  display: table;
  content: " ";
  }
.demo-content-wide:after {
  clear: both;
  }
.demo-title {
  float: left;
  width: 240px;
  margin: -.5em 20px 0;
  font: 700 24.5px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
.demo-title h1,
.demo-title h2,
.demo-title h3,
.demo-title h4 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
.demo-title h1,
.demo-title h2,
.demo-title h3 {
  line-height: 40px !important;
  }
.demo-title h3 {
  font-size: 24.5px !important;
  }
.demo-title small {
  font-size: 13px;
  font-weight: 400;
  color: #c0c1c2;
  }
.demo-buttons .btn,
.demo-inputs .control-group {
  margin-bottom: 20px;
  }
.demo-navigation .demo-title {
  margin-top: 10px;
  }
.demo-pager {
  margin-top: -10px;
  }
.demo-tooltips {
  width: 40%;
  padding-left: 10px;
  }
.demo-tooltips .tooltip {
  position: relative !important;
  top: -8px !important;
  left: -8px !important;
  }
.demo-tooltips .tooltip-inner {
  width: auto;
  max-width: 100%;
  }
.demo-popovers .popover {
  position: relative;
  display: block;
  width: auto;
  margin: 0 13px 0 -3px;
  }
.demo-social-buttons .btn {
  float: left;
  margin-bottom: 17px;
  clear: left;
  }
.demo-headings {
  margin-bottom: 12px;
  }
.demo-tiles {
  margin-bottom: 46px;
  }
.demo-icons {
  margin-left: -15px;
  font-size: 32px;
  }
.demo-icons > span {
  display: inline-block;
  width: 32px;
  margin: 0 0 32px 35px;
  }
@media (max-width: 480px) {
  .demo-icons > span {
    margin-right: 16px;
    margin-left: 16px;
    }
  }
.demo-icons-tooltip {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 80px;
  margin-left: 0 !important;
  font-size: 12px;
  color: #c2c8cf;
  }
.demo-inline {
  display: inline-block;
  }
.demo-labels {
  font-size: 19px;
  }
.demo-labels .visible-lg {
  display: inline !important;
  }
@media (max-width: 767px) {
  .demo-labels .visible-lg {
    display: none !important;
    }
  }
.demo-illustrations {
  margin-top: 40px;
  }
.demo-illustrations .demo-content-wide {
  padding-top: 20px;
  margin: 0 0 0 -66px;
  }
.demo-illustrations .demo-content-wide > div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 0 80px 87px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  }
.demo-illustrations img {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
  }
.demo-dialog {
  padding: 13px 20px 15px;
  }
.demo-dialog .flat {
  width: 300px;
  }
@media (max-width: 767px) {
  .demo-dialog .flat {
    width: 100%;
    }
  }
.static-modal-backdrop {
  width: 100%;
  padding: 62px 14px;
  margin-bottom: 50px;
  background-color: #243342;
  }
.static-modal-backdrop .modal {
  position: relative;
  top: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
  }
.static-modal-backdrop .modal-dialog {
  padding: 0;
  }
.components-static-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
  overflow: visible;
  }
.components-static-modal .modal-dialog,
.components-static-modal .modal-content {
  width: auto;
  }
.components-static-modal .modal-dialog {
  padding: 0;
  }
.demo-sidebar {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 10000;
  width: 150px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 14px;
  line-height: 1.214;
  list-style-type: none;
  background-color: #f3f4f5;

  -webkit-font-smoothing: subpixel-antialiased;
  }
.demo-sidebar li:first-child a {
  padding-top: 20px;
  }
.demo-sidebar a {
  display: block;
  padding: 7px 20px;
  }
.demo-col .fileinput .input-group .uneditable-input {
  max-width: 370px;
  }
@media (max-width: 767px) {
  .demo-row {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
    }
  .demo-col,
  .demo-content,
  .demo-content-wide,
  .demo-title {
    float: none;
    width: auto;
    padding: 0 !important;
    margin: 0 0 18px !important;
    }
  .demo-headline {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 65px !important;
    text-align: left;
    }
  .demo-inline {
    display: block;
    }
  .demo-navigation .btn-toolbar {
    margin: 0;
    }
  .demo-navigation .pager {
    display: block;
    margin-bottom: 20px;
    margin-left: 0 !important;
    }
  .typography-row .demo-type-example {
    padding-left: 0 !important;
    }
  .typography-row .demo-heading-note,
  .typography-row .demo-text-note {
    position: static !important;
    margin: 0 0 10px;
    }
  .demo-illustrations .demo-content-wide > div {
    margin-left: 67px;
    }
  }
/* Demo video */
.demo-video {
  margin-top: 40px;
  }
@media (max-width: 480px) {
  .demo-illustrations .demo-content-wide > div {
    margin-left: 23px;
    }
  .demo-navigation .mll.pvl {
    padding: 0;
    margin-bottom: 20px;
    margin-left: 0 !important;
    }
  }
