#footer .contact input[type=text], #footer .contact textarea {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }
#footer .testimonials .info {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }

#footer {
  min-height: 260px;
  margin-top: 140px;
  background-color: #1a242f;
  color: white;
  padding-top: 35px; }
  #footer a {
    font-weight: normal;
    color: #3498db; }
    #footer a:hover {
      color: #5aabe2; }
  #footer .footer_header {
    color: #fcfcfc;
    font-weight: 300;
    margin-bottom: 40px;
    margin-left: 15px; }
  #footer .recent_posts {
    margin-left: 0px; }
    #footer .recent_posts .post {
      margin-bottom: 70px;
      width: 93%; }
      #footer .recent_posts .post img {
        float: left;
        margin-right: 20px;
        width: 55px; }
      #footer .recent_posts .post .title {
        display: block;
        color: #b5b5b6;
        font-size: 14px; }
  #footer .testimonials .wrapper {
    margin: 0 auto;
    width: 82%; }
  #footer .testimonials .footer_header {
    margin-left: 30px; }
  #footer .testimonials .quote {
    color: #bfbfc0; }
    #footer .testimonials .quote span {
      font-size: 50px;
      position: relative;
      top: 5px;
      font-family: Georgia !important;
      float: left;
      margin-right: 8px; }
  #footer .testimonials .author {
    margin-top: 40px;
    min-height: 80px; }
    #footer .testimonials .author img {
      float: left;
      margin-right: 15px;
      position: relative;
      width: 60px;
      top: -6px; }
  #footer .testimonials .name {
    font-size: 14px; }
  #footer .testimonials .info {
    font-size: 12px;
    color: #cccccc; }
  #footer .contact {
    text-align: right; }
    #footer .contact .footer_header {
      text-align: left;
      margin-left: 35px; }
    #footer .contact input[type="text"], #footer .contact textarea {
      border: none;
      background-color: #1f1f21;
      color: #868687;
      padding: 8px 20px;
      border-radius: 3px;
      font-size: 14px;
      font-family: Lato !important;
      width: 95%;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      margin-bottom: 10px; }
    #footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
      border: none;
      box-shadow: none;
      background-color: black; }
    #footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder, #footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder, #footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
      color: #868687; }
  #footer .credits {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px; }
    #footer .credits .social {
      margin-top: 30px;
      text-align: center; }
      #footer .credits .social a {
        margin: 10px; }
        #footer .credits .social a span {
          display: inline-block;
          width: 33px;
          height: 33px; }
          #footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
            background-position: 0px 0px; }
          #footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
            background-position: -37px 0px; }
          #footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
            background-position: -75px 0px; }
          #footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
            background-position: -112px -1px; }
          #footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
            background-position: -151px 0px; }
          #footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
            background-position: -188px -1px; }
          #footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
            background-position: -226px 0px; }
        #footer .credits .social a:hover span.socialicons {
          display: none; }
        #footer .credits .social a:hover span.socialicons_h {
          display: inline-block !important; }
      #footer .credits .social span.socialicons_h {
        display: none; }
    #footer .credits .copyright {
      color: #a6a6a7;
      font-style: italic;
      text-align: center;
      margin-top: 30px; }
    #footer .credits .socialicons {
      background: url("../img/socialicons/socialicons.png") no-repeat;
      width: 265px;
      height: 36px; }
    #footer .credits .socialicons_h {
      background: url("../img/socialicons/socialicons_h.png") no-repeat;
      width: 265px;
      height: 36px; }
  #footer .info {
    margin-bottom: 10px;
    margin-left: 0; }
    #footer .info .residence {
      margin-left: 0; }
    #footer .info ul {
      margin: 0;
      padding: 0; }
      #footer .info ul li {
        list-style: none;
        font-size: 16px;
        color: #777e83;
        line-height: 23px; }
      #footer .info ul a {
        color: #777e83;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -ms-transition: color 0.2s;
        transition: color 0.2s; }
        #footer .info ul a:hover {
          color: #a9b4bb; }
    #footer .info .touch {
      float: right; }
      #footer .info .touch ul li {
        display: inline-block;
        margin-left: 22px; }
  #footer .testimonials .info {
    font-family: Aller, sans-serif !important;
    font-weight: 300; }
  #footer .contact input[type="text"], #footer .contact textarea {
    font-family: Aller, sans-serif !important;
    font-weight: 300; }

input[type="text"], input[type="password"], input[type="submit"] {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }

textarea {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }

#footer .recent_posts .post .date {
  font-family: Aller, sans-serif !important; }
#footer .footer_header {
  font-family: Pacifico, serif !important; }
#footer .testimonials .name {
  font-family: Aller, sans-serif !important;
  font-weight: bold; }
#footer .testimonials .quote {
  font-size: 16px; }
#footer .recent_posts .post .date {
  font-size: 14px; }

#blog .paginator-container {
  font-size: 14px; }

#footer .footer_header, #footer .testimonials .footer_header, #footer .contact .footer_header {
  margin-left: 0px; }
#footer .credits .socialicons {
  background-image: url("../img/socialicons/socialicons.png"); }
#footer .credits .copyright {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  font-family: Aller, sans-serif !important; }
#footer .info .touch {
  text-align: right; }

@media (max-width: 767px) {
  #footer .container {
    padding: 0px 20px; }
  #footer .footer_header {
    margin-left: 0; }
    #footer .footer_header h3 {
      margin-left: 0; }
  #footer .testimonials {
    overflow: hidden;
    margin-bottom: 40px; }
    #footer .testimonials .footer_header {
      margin-left: 0; }
    #footer .testimonials .wrapper {
      float: left;
      width: 100%; }
  #footer .contact {
    margin: 0; }
    #footer .contact .footer_header {
      margin-left: 0; }
    #footer .contact input[type="text"], #footer .contact textarea {
      float: left;
      width: 100%; }
  #footer .info .touch {
    float: none; }
    #footer .info .touch ul {
      margin: 15px 0 15px; }
      #footer .info .touch ul li {
        margin: 0 30px 0 0; }
  #footer .credits {
    margin-top: 20px; } }
/* Font Face & Size */
.navbar-nav > li > a {
  font-family: Aller, sans-serif !important; }

.navbar-brand {
  font-family: Pacifico, serif !important;
  font-weight: 500; }

.navbar-header .navbar-brand {
  font-size: 32px; }

.navbar .navbar-toolbar .nav a {
  font-size: 12px; }

@media (max-width: 991px) {
  .navbar .navbar-collapse .open .dropdown-menu > li > a {
    font-size: 15px; } }
/* Colors */
.navbar-default {
  border-color: #3498db;
  background-color: #2c3e50;
  border-style: solid; }
  .navbar-default .navbar-nav > li > a {
    color: white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #3498db; }
  .navbar-default .navbar-brand {
    color: #fafafa; }
    .navbar-default .navbar-brand:hover {
      color: white; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #1a242f; }

.navbar-inverse {
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #585858; }
  .navbar-inverse.navbar-static-top {
    background-color: #252528; }
  .navbar-inverse .nav > li > a {
    color: white; }
    .navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {
      color: white;
      opacity: 1;
      filter: alpha(opacity=100); }
  .navbar-inverse .nav > li.active > a {
    color: white;
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: transparent; }

.navbar .collapse .nav .dropdown .dropdown-menu {
  background: #252528; }
  .navbar .collapse .nav .dropdown .dropdown-menu > li > a {
    color: white; }
    .navbar .collapse .nav .dropdown .dropdown-menu > li > a:hover {
      background: #0088cc; }

@media (max-width: 991px) {
  .navbar .navbar-collapse .open .dropdown-menu > li > a {
    color: #999999; }
    .navbar .navbar-collapse .open .dropdown-menu > li > a:hover {
      color: white; } }
.navbar-toolbar {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  display: block; }

.sticky .navbar-toolbar {
  top: -80px;
  height: 0;
  display: none; }

.navbar-default .navbar-toolbar .navbar-nav > li > a {
  border-radius: 2px;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.6); }
  .navbar-default .navbar-toolbar .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 0.8); }

.navbar .container .navbar-header .navbar-brand {
  padding: 0; }
  .navbar .container .navbar-header .navbar-brand img {
    top: -5px;
    position: relative; }

.navbar-default .navbar-nav > .open > a {
  background-color: transparent; }
  .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent; }

.dropdown-menu {
  min-width: inherit; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #222222; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.navbar {
  padding: 10px 0px 10px 0px; }
  .navbar.navbar-static-top .container {
    margin-top: 0;
    margin-bottom: 0; }
  .navbar .nav > li > a {
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding: 10px 15px 10px;
    text-decoration: none;
    font-size: 18px; }
  .navbar .container {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out; }
    .navbar .container .collapse .nav .dropdown .caret {
      margin-bottom: 4px; }
    .navbar .container .collapse .nav .dropdown .dropdown-menu {
      border-radius: 6px;
      margin-top: 2px; }

.navbar-fixed-top {
  border-width: 0 0 5px;
  height: 140px; }

.navbar-header .navbar-brand {
  text-shadow: 0 2px 1px black; }

.navbar.navbar-inverse .nav > li > a {
  opacity: 0.8; }
.navbar .container .navbar-header .navbar-brand {
  text-transform: capitalize;
  margin-top: -5px; }
.navbar.navbar-inverse.navbar-static-top {
  margin-bottom: 0; }
.navbar.sticky ul.navbar-nav {
  margin-top: 0px; }

.navbar-static-top ul.navbar-nav {
  margin-top: 0px; }

.navbar-collapse, .navbar-header {
  margin-left: 15px; }

.navbar ul.navbar-nav {
  padding: 0;
  margin-top: 0px; }

.navbar-collapse, .navbar-header {
  padding-top: 10px;
  padding-bottom: 10px; }

.navbar.sticky, .navbar-static-top {
  height: 105px; }

.navbar.navbar-inverse {
  border-bottom: 0px none; }

.navbar-default .navbar-toolbar .navbar-nav > li > a {
  font-weight: 500; }

.navbar-default .navbar-nav > .active > a {
  border-radius: 4px; }

.open > .dropdown-menu {
  margin-top: 0 !important; }

.dropdown-menu li:last-child > a {
  padding-top: inherit;
  padding-bottom: inherit; }

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #3498db;
  border-top-color: #3498db; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 0; }
    .navbar.transparent.navbar-fixed-top, .navbar.home.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; } }
@media (max-width: 767px) {
  .navbar .container {
    margin-top: 0; }

  .navbar-fixed-top {
    height: auto; }

  .navbar.navbar-inverse .container .navbar-header .navbar-brand {
    margin-left: -5px; }

  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding: 0 15px 5px 5px; } }
@media (min-width: 992px) {
  .navbar .collapse {
    display: block !important; } }
@media (max-width: 991px) {
  .navbar.navbar-inverse {
    background: #252528; }

  .navbar-fixed-top {
    height: auto; }

  .navbar-toolbar .navbar-nav.navbar-right:last-child {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }

  .navbar-nav > li > a {
    margin-left: 0;
    margin-right: 0; }

  .navbar .navbar-toolbar ul.navbar-nav.navbar-right {
    float: right !important; }
    .navbar .navbar-toolbar ul.navbar-nav.navbar-right li {
      float: left; }

  .navbar .navbar-header {
    float: none; }
  .navbar .navbar-toggle {
    display: block; }
  .navbar .collapse {
    display: none !important; }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch; }
    .navbar .navbar-collapse.in {
      overflow-y: auto; }
  .navbar ul.navbar-nav {
    padding: 0px 20px; }
    .navbar ul.navbar-nav.navbar-right {
      float: left !important; }
    .navbar ul.navbar-nav > li {
      float: none; } }
@media (max-width: 769px) {
  .navbar .container .navbar-header .navbar-brand {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px; } }
#contact form p.lead, #footer .recent_posts .post .date, #people .people .bio_box p.name, .navbar-nav > li > a {
  font-family: Aller, sans-serif !important; }

#contact .form button, #faq h2 {
  font-family: Pacifico, serif !important; }

#contact .contact p {
  font-family: Aller, sans-serif !important;
  font-style: italic;
  font-weight: 300; }
#contact form p {
  font-family: Aller, sans-serif !important;
  font-style: italic;
  font-weight: 300; }
  #contact form p.lead small {
    font-family: Aller, sans-serif !important;
    font-style: italic;
    font-weight: 300; }

#contact form p.lead small {
  line-height: 1; }

#contact .input-group-addon {
  min-width: 52px; }
  #contact .input-group-addon i {
    font-size: 1.3em;
    color: #949494;
    text-shadow: 0 1px 0 white; }
#contact .form button {
  font-size: 21px; }
#contact .checkbox {
  text-transform: uppercase; }
#contact .contact {
  margin: 40px 0 100px; }
  #contact .contact .submit label.checkbox {
    color: #394350;
    font-size: 14px; }
  #contact .contact p {
    color: gray; }
#contact .form textarea {
  height: 239px;
  resize: none; }

.select2-container .select2-choice {
  height: 42px;
  line-height: 37px;
  border-radius: 0; }

#map {
  position: relative;
  margin: 0;
  position: relative;
  width: 100%;
  padding-bottom: 0; }
  #map .box_wrap {
    top: 90px; }
  #map iframe {
    display: block; }
  #map .box_wrap {
    width: 400px;
    position: absolute;
    box-shadow: 0 0 7px 0 rgba(26, 26, 26, 0.4);
    background: white;
    top: 130px;
    border-radius: 4px;
    margin: 0;
    padding: 33px 0; }
    #map .box_wrap .box_cont {
      width: 76%;
      margin: 0 auto; }
  #map .vcard i {
    vertical-align: middle; }
  #map .box_wrap .head {
    width: 100%;
    margin-bottom: 17px;
    overflow: hidden; }
  #map h3 {
    margin-top: 0; }
  #map .box_wrap ul.street {
    list-style: none;
    margin: 0;
    padding: 0; }
    #map .box_wrap ul.street li {
      color: #777777; }
      #map .box_wrap ul.street li.icon .text {
        color: #777777;
        margin-left: 6px; }
  #map .box_wrap .headbottom {
    margin-top: 42px; }
  #map .box_wrap p {
    color: #777777;
    margin-bottom: 32px; }
  #map .box_wrap a.btn {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    background: #187ccc;
    text-shadow: none;
    font-weight: 700;
    border: 0 none;
    box-shadow: none;
    border-radius: 3px;
    display: block;
    width: 56%;
    -webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
    -o-transition: background linear 0.2s, box-shadow linear 0.2s;
    transition: background linear 0.2s, box-shadow linear 0.2s;
    margin: 0 auto;
    padding: 6px 0; }
    #map .box_wrap a.btn:hover {
      background: #252528; }

#contact .contact form {
  margin: 0; }
#contact .contact .submit {
  margin: 0; }
  #contact .contact .submit .box {
    margin: 0; }
#contact .form {
  margin: 0; }
  #contact .form .input-group.fui-select {
    margin: 0 auto;
    padding-top: 5px;
    width: 91%; }
  #contact .form .box {
    margin: 0; }
#contact .form-control, #contact .uneditable-input {
  border-width: 1px; }
#contact input[type="color"], #contact input[type="date"], #contact input[type="datetime-local"], #contact input[type="datetime"], #contact input[type="email"], #contact input[type="month"], #contact input[type="number"], #contact input[type="password"], #contact input[type="search"], #contact input[type="tel"], #contact input[type="text"], #contact input[type="time"], #contact input[type="url"], #contact input[type="week"] {
  border-width: 1px; }
#contact textarea.form-control {
  border-width: 1px; }
#contact .icheckbox_square-blue {
  float: left;
  margin-top: 10px;
  margin-right: 10px; }
#contact .radio, #contact .checkbox {
  font-size: 14px;
  line-height: 27px;
  display: inline-block;
  padding-left: 0px; }

.contact #footer {
  margin-top: 0; }

@media (max-width: 767px) {
  #contact .contact .submit .box {
    margin: 10px 0 24px; }
  #contact .contact .submit .right {
    float: none; }
    #contact .contact .submit .right input[type="submit"] {
      float: none;
      width: 53%;
      display: block;
      margin: 0 auto;
      padding: 7px; }

  #map .box_wrap {
    width: 90%;
    position: relative;
    margin: 0 auto 80px; }
    #map .box_wrap a.btn {
      width: 65%; }
  #map iframe {
    display: none; } }
@media (max-width: 480px) {
  #map .box_wrap {
    width: 100%; } }
/* features */
#features .feature .info h4 {
  font-weight: normal;
  font-family: Aller; }
#features .option1 .feature {
  min-height: 300px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 65px; }
  #features .option1 .feature .info h4 {
    margin-top: 45px; }
    #features .option1 .feature .info h4 img {
      margin-right: 18px;
      position: relative;
      top: -5px; }
  #features .option1 .feature .info p {
    margin-top: 15px; }
#features .img-responsive {
  position: absolute;
  top: 74px; }
#features .subtitle h2 {
  margin: 0;
  font-weight: normal;
  margin-bottom: 70px;
  text-align: center; }
#features .option1 .feature {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 65px; }
  #features .option1 .feature .info h4 {
    margin-top: 45px; }
    #features .option1 .feature .info h4 img {
      margin-right: 18px;
      position: relative;
      top: -5px; }
  #features .option1 .feature .info p {
    margin-top: 15px; }
#features .option1 .last {
  margin-bottom: 0; }
#features .option2 {
  margin-bottom: 70px; }
  #features .option2 .feature {
    margin-bottom: 70px; }
    #features .option2 .feature .box {
      text-align: center;
      float: left;
      width: 16%;
      height: 77px; }
      #features .option2 .feature .box img.one {
        margin-top: 18px; }
      #features .option2 .feature .box img.two {
        margin-top: 20px; }
    #features .option2 .feature .text {
      float: left;
      width: 76%;
      margin-top: 17px;
      margin-left: 23px; }
      #features .option2 .feature .text h4 {
        margin: 0 0 8px 0; }
      #features .option2 .feature .text p {
        margin: 0;
        line-height: 23px; }
  #features .option2 .right {
    float: right; }

/* Responsive
 *-------------------------------------------------- */
@media (min-width: 768px) {
  #features .feature .pic-right {
    float: right; }
  #features .feature .info-left {
    float: left; } }
@media (max-width: 767px) {
  #features .feature {
    margin-bottom: 60px; }
    #features .feature img {
      margin: 0 auto !important;
      float: none !important; }
  #features .last {
    margin-bottom: 0; }
  #features .option1 .feature .info h3 {
    text-align: center; }
  #features .option2 {
    margin-bottom: 60px; }
    #features .option2 .feature {
      float: left;
      width: 100%;
      margin-bottom: 60px; }
      #features .option2 .feature .text {
        margin-top: 0; }
        #features .option2 .feature .text h3 {
          text-align: center; }
  #features .option3 .feature {
    margin-bottom: 60px;
    overflow: hidden; } }
@media (max-width: 480px) {
  #features .option2 {
    margin-bottom: 60px; }
    #features .option2 .feature {
      float: left;
      width: 100%;
      margin-bottom: 60px; }
      #features .option2 .feature .text {
        margin-top: 0; }
    #features .option2 .right {
      /*margin-bottom: 0; */ }
  #features .option3 .feature {
    margin-bottom: 60px; }
  #features .last {
    margin-bottom: 0; } }
#service_1 .service_wrapper .feature:hover img {
  box-shadow: 0px 0px 4px 0 #888888; }

/*Service Option 2 */
#service_2 {
  margin: 40px 0 115px; }
  #service_2 .perk {
    margin-bottom: 82px;
    margin-left: 0; }
  #service_2 .circle {
    background: #1189d9;
    text-align: center;
    border-radius: 100%;
    margin: 14px 0 0 0;
    width: 136px;
    height: 136px;
    box-shadow: 1px 1px 2px 0px #e0e0e0; }
    #service_2 .circle img {
      margin-top: 42px; }
  #service_2 .circle1 img {
    margin-top: 49px; }
  #service_2 .description_wrapper {
    float: right; }
    #service_2 .description_wrapper h5 {
      font-size: 20px;
      margin: 5px 0 10px 0; }
    #service_2 .description_wrapper p {
      line-height: 24px;
      color: #3f3f3f;
      margin-bottom: 0; }
  #service_2 .last {
    margin-bottom: 0; }

/* Responsive
 *-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  #features .img-responsive {
    position: relative;
    top: 116px; }

  #service_2 .description_wrapper {
    width: 77%; }

  #team .peaople .bio_box .info {
    margin: 0;
    float: none; } }
@media (max-width: 767px) {
  #service_1 .service_wrapper .feature {
    text-align: center;
    margin-bottom: 60px; }

  #features .img-responsive {
    position: inherit;
    top: auto; }
  #features .option1 .feature .info p {
    margin-bottom: 15px; }

  #service_2 .perk {
    text-align: center;
    margin-bottom: 70px; }
  #service_2 .circle {
    float: none;
    margin-bottom: 20px;
    display: inline-block; }
  #service_2 .description_wrapper h5 {
    margin-bottom: 15px; } }
@media (max-width: 480px) {
  #service_1 .service_wrapper .feature .img_box {
    width: 100%; } }
@media (min-width: 768px) {
  #features .feature .pic-right {
    float: right; }
  #features .feature .info-left {
    float: left; } }
@media (max-width: 767px) {
  #features .section_header {
    text-align: center; }
  #features .feature img {
    margin: 0 auto !important;
    float: none !important; }
  #features .feature .info h3 {
    text-align: center; } }
.footer {
  font-size: 14px;
  padding-top: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8); }

.textbox-wrap.blue.focused {
  border-left-color: #2489c5; }

.flat-form .textbox-wrap .input-group [class^="icon-"], .flat-form .textbox-wrap .input-group [class*=" icon-"], .flat-form .textbox-wrap .input-group i {
  color: #949494; }

.textbox-wrap.blue.focused {
  border-left-color: #2489c5; }

.login #footer {
  margin-top: 80px; }

.login #nprogress .bar {
  top: 0px; }
.login #nprogress .spinner {
  top: 20px; }

.login {
  background: none;
  background-color: #1a242f;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden; }
  .login .container {
    padding-top: 80px; }
  .login .icheckbox_square-blue {
    margin-right: 0;
    margin-top: 3px; }

.flat-form-modal {
  background-color: #707d85; }

.flat-form {
  color: #95a5a6;
  font-family: Aller;
  font-weight: 300; }
  .flat-form .form-control {
    padding: 10px 5px; }
  .flat-form .input-group-addon {
    padding: 10px;
    min-width: 60px; }
  .flat-form h4 {
    font-family: Aller;
    color: #2489c5;
    font-weight: bold;
    margin-top: 0; }
  .flat-form h3 {
    font-family: Pacifico;
    color: white;
    display: inline-block; }
  .flat-form i {
    font-size: 22px; }
  .flat-form .login-form-section, .flat-form .lang-selector {
    margin: 10px auto;
    width: 100%; }
  .flat-form .login-form-section {
    max-width: 360px; }
  .flat-form .lang-selector {
    max-width: 360px;
    font-size: 0.8em; }
  .flat-form .registration-form-section {
    max-width: 620px; }
  .flat-form .login-content {
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 3px 15px rgba(0, 0, 0, 0.8), 0 1px black inset; }
  .flat-form .section-title {
    background-color: #2c3e50;
    padding: 10px 20px;
    border-color: #3498db;
    border-width: 0 0 5px;
    border-style: solid;
    margin-bottom: 30px; }
    .flat-form .section-title a {
      margin-top: 38px;
      font-size: 14px; }
  .flat-form .textbox-wrap {
    border-left: 5px solid rgba(0, 0, 0, 0);
    padding: 10px 20px 10px 15px;
    transition: border-left-color 0.5s ease 0s, box-shadow 0.5s ease 0s, background-color 0.5s ease 0s; }
    .flat-form .textbox-wrap .input-group {
      background-color: white;
      border: 1px solid #e0e0e0; }
      .flat-form .textbox-wrap .input-group .input-group-addon, .flat-form .textbox-wrap .input-group input, .flat-form .textbox-wrap .input-group .form-control {
        background-color: rgba(0, 0, 0, 0);
        border: medium none; }
      .flat-form .textbox-wrap .input-group input, .flat-form .textbox-wrap .input-group .form-control, .flat-form .textbox-wrap .input-group input:focus, .flat-form .textbox-wrap .input-group .form-control:focus {
        box-shadow: none;
        outline: medium none; }
      .flat-form .textbox-wrap .input-group [class^="icon-"], .flat-form .textbox-wrap .input-group [class*=" icon-"], .flat-form .textbox-wrap .input-group i {
        color: #cccccc; }
    .flat-form .textbox-wrap.focused {
      background-color: #ecf0f1;
      border-left-color: #2489c5;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset; }
  .flat-form .login-form-action {
    padding: 15px 20px 30px; }
  .flat-form input[type="checkbox"] {
    width: 30px; }
  .flat-form .login-form-links {
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-top: 5px;
    padding: 20px;
    font-size: 16px; }
    .flat-form .login-form-links a {
      color: #2489c5; }
      .flat-form .login-form-links a:hover, .flat-form .login-form-links a:focus {
        color: #40a2dc; }
  .flat-form .link2 a, .flat-form .link2 h4 {
    color: #15a589; }
  .flat-form .link2 a:hover, .flat-form .link2 a:focus {
    color: #18bc9c; }
  .flat-form .custom-checkbox {
    float: left; }
  .flat-form .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 7px;
    padding-left: 1px; }
  .flat-form .checkbox-text {
    line-height: 24px;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 16px; }
  .flat-form .form-control:-moz-placeholder, .flat-form .form-control::-moz-placeholder {
    font-weight: 300; }
  .flat-form .radio label, .flat-form .checkbox label {
    font-weight: 300; }

#people .people .bio_box p.area {
  font-family: Aller, sans-serif !important;
  font-style: italic;
  font-weight: 300; }

#people {
  background: #f7f7f7;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }
  #people .section_header {
    margin-bottom: 60px; }
  #people .people .bio_box {
    margin: 0;
    text-align: center; }
    #people .people .bio_box .info {
      margin: 38px 6px 0 6px; }
      #people .people .bio_box .info p {
        margin-bottom: 0; }
        #people .people .bio_box .info p.name {
          color: #333333;
          margin-bottom: 4px;
          font-size: 26px;
          line-height: 1.2;
          font-weight: 500; }
        #people .people .bio_box .info p.area {
          color: #98989a;
          font-style: 16px;
          margin-bottom: 18px; }
      #people .people .bio_box .info a span {
        display: inline-block;
        width: 33px;
        height: 33px; }
    #people .people .bio_box img {
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
      width: 180px; }
    #people .people .bio_box .info a:hover span.socialicons {
      display: none; }
    #people .people .bio_box .info a:hover span.socialicons_h {
      display: inline-block !important; }
    #people .people .bio_box .info span.ico1, #people .people .bio_box .info span.ico1h {
      background-position: 0px 0px; }
    #people .people .bio_box .info span.ico2, #people .people .bio_box .info span.ico2h {
      background-position: -37px 0px; }
    #people .people .bio_box .info span.ico3, #people .people .bio_box .info span.ico3h {
      background-position: -75px 0px; }
    #people .people .bio_box .info span.ico4, #people .people .bio_box .info span.ico4h {
      background-position: -112px -1px; }
    #people .people .bio_box .info span.ico5, #people .people .bio_box .info span.ico5h {
      background-position: -151px 0px; }
    #people .people .bio_box .info span.ico6, #people .people .bio_box .info span.ico6h {
      background-position: -188px -1px; }
    #people .people .bio_box .info span.ico7, #people .people .bio_box .info span.ico7h {
      background-position: -226px 0px; }

.socialicons {
  background: url("../images/socialicons2.png") no-repeat;
  width: 265px;
  height: 36px; }

.socialicons_h {
  background: url("../images/socialicons_h.png") no-repeat;
  width: 265px;
  height: 36px;
  display: none !important; }

#clients {
  margin-top: 75px; }
  #clients .client {
    padding: 40px 0 38px 0;
    background: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    cursor: pointer;
    text-align: center; }
    #clients .client .img {
      width: 180px;
      cursor: pointer;
      -webkit-transition: box-shadow 0.1s linear;
      -moz-transition: box-shadow 0.1s linear;
      transition: box-shadow 0.1s linear;
      margin: 0 auto 37px; }
      #clients .client .img:hover {
        cursor: pointer;
        border-radius: 8px; }
    #clients .client .text {
      margin: 0 auto;
      width: 87%; }
      #clients .client .text h3 {
        margin: 0 0 9px 0;
        text-align: center; }
      #clients .client .text p {
        margin: 0 auto;
        line-height: 23px;
        text-align: center;
        width: 90%;
        margin-top: 18px; }
    #clients .client:hover {
      border-color: #b1b1b1;
      box-shadow: 0 0 10px 0 #b4b4b4;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.flexslider {
  border: 0px none;
  box-shadow: none; }
  .flexslider .slides img {
    padding: 10px;
    width: 180px; }

#clients .client span {
  position: absolute;
  height: 80%;
  padding-left: 20px;
  position: absolute;
  top: 30px; }

.flexslider .slides > li {
  padding: 10px;
  margin-left: 20px; }

/* Responsive
 *-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  #people .people .bio_box {
    margin-bottom: 35px; }
    #people .people .bio_box img {
      float: left;
      float: none;
      margin-bottom: 25px;
      margin-left: 0; }
    #people .people .bio_box .info {
      margin: 0;
      float: none; } }
@media (max-width: 767px) {
  #people .container {
    padding: 0px 20px; }
  #people .people .bio_box {
    margin-bottom: 35px; }
    #people .people .bio_box img {
      margin: 0; } }
@media (max-width: 480px) {
  #people .people .bio_box img {
    float: none;
    margin-bottom: 18px; }
  #people .people .bio_box .info {
    float: none;
    margin: 0; } }
#pricing .charts_wrapp .plan .price span.month, #pricing .start p {
  font-family: Aller, sans-serif !important;
  font-style: italic;
  font-weight: 300; }

#pricing2 .black .plan h6, .section_header h3 {
  font-family: Aller, sans-serif !important;
  font-style: italic;
  font-weight: 300; }

#faq .box p.lead {
  font-family: Aller, sans-serif !important;
  font-style: italic; }

#pricing .charts_wrapp .plan h3, #pricing .plan a.order, #pricing .start a, #pricing h2 {
  font-family: Pacifico, serif !important; }

#pricing2 .charts_wrapp .plan h3, #pricing2 .plan a.order {
  font-family: Pacifico, serif !important; }

#pricing2 .black .plan p {
  text-shadow: 1px 1px 0 black; }

#pricing .section_header {
  text-align: center;
  margin-bottom: 70px; }
#pricing .charts_wrapp {
  margin-bottom: 40px; }
  #pricing .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: white;
    width: 95%;
    position: relative; }
    #pricing .charts_wrapp .plan .wrapper {
      padding: 33px 30px 26px 30px; }
    #pricing .charts_wrapp .plan h3 {
      color: #535353;
      font-size: 32px;
      margin: 0 0 5px 0; }
    #pricing .charts_wrapp .plan .price {
      font-size: 17px;
      color: #18bc9c;
      margin-top: 16px; }
      #pricing .charts_wrapp .plan .price span.dollar {
        font-size: 32px;
        position: relative;
        top: -6px;
        margin-right: 3px; }
      #pricing .charts_wrapp .plan .price span.qty {
        font-size: 47px;
        margin-right: 4px;
        position: relative;
        top: 2px; }
      #pricing .charts_wrapp .plan .price span.month {
        font-style: italic;
        font-weight: 300;
        font-size: 15px; }
    #pricing .charts_wrapp .plan .features {
      margin-top: 30px; }
      #pricing .charts_wrapp .plan .features p {
        color: #838385;
        line-height: 1; }
#pricing .plan a.order {
  text-align: center;
  margin: 25px auto 0;
  width: 68%;
  font-size: 21px;
  display: block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear; }
  #pricing .plan a.order:hover {
    background: #252528; }
#pricing .pro .plan {
  width: 100%;
  top: -20px;
  box-shadow: 0 0 7px 0 #d6d6d6;
  border: 1px solid #d9d9d9; }
  #pricing .pro .plan .wrapper {
    padding: 36px 30px 35px 30px; }
  #pricing .pro .plan img.ribbon {
    position: absolute;
    top: 0;
    right: 0; }
  #pricing .pro .plan a.order {
    margin-top: 35px; }
#pricing .standar .plan {
  float: right; }
#pricing .start {
  width: 100%;
  text-align: center; }
  #pricing .start p {
    font-size: 24px;
    display: inline-block;
    color: #5b5b5d;
    font-style: italic;
    line-height: 26px;
    margin: 0 18px 0 0; }
  #pricing .start a {
    font-size: 26px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear; }

/*Frequent Questions */
#faq {
  margin-bottom: 50px; }
  #faq .box {
    margin-bottom: 50px; }
  #faq .right {
    float: right; }
  #faq h2 {
    font-size: 38px;
    text-align: center; }

/* Pricing Option 2 */
#pricing2 .section_section_headerer h3 span {
  font-size: 18px;
  line-height: 20px; }
#pricing2 .charts_wrapp {
  margin-bottom: 40px; }
  #pricing2 .charts_wrapp .plan {
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px #d6d6d6;
    background-color: white;
    width: 100%;
    position: relative; }
    #pricing2 .charts_wrapp .plan .wrapper {
      padding: 33px 30px 26px 30px; }
    #pricing2 .charts_wrapp .plan .price {
      color: #18bc9c;
      margin-top: 16px;
      line-height: 1; }
      #pricing2 .charts_wrapp .plan .price span.dollar {
        font-size: 32px;
        position: relative;
        top: -6px;
        margin-right: 3px; }
      #pricing2 .charts_wrapp .plan .price span.qty {
        font-size: 47px;
        margin-right: 4px;
        position: relative;
        top: 2px; }
    #pricing2 .charts_wrapp .plan .features {
      margin-top: 30px; }
      #pricing2 .charts_wrapp .plan .features p {
        color: #838385;
        margin-bottom: 5px;
        font-size: 14px; }
    #pricing2 .charts_wrapp .plan h3 {
      color: #535353;
      font-size: 32px;
      margin: 0 0 5px 0; }
    #pricing2 .charts_wrapp .plan a.order {
      width: 80%; }
#pricing2 .plan .price span.month {
  font-weight: bold;
  font-size: 17px; }
#pricing2 .plan a.order {
  text-align: center;
  margin: 25px auto 0;
  width: 68%;
  font-size: 21px;
  display: block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear; }
#pricing2 .ultra .plan {
  top: -13px;
  box-shadow: 0px 0px 7px 0 #d6d6d6;
  border: 1px solid #d9d9d9; }
  #pricing2 .ultra .plan .wrapper img.ribbon {
    position: absolute;
    right: 0;
    top: 0; }
#pricing2 .black .plan {
  background: #2c3e50;
  box-shadow: none; }
  #pricing2 .black .plan .wrapper {
    padding: 35px 25px 30px 25px; }
  #pricing2 .black .plan h3 {
    color: white; }
  #pricing2 .black .plan h6 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-style: italic; }
  #pricing2 .black .plan p {
    font-size: 16px;
    color: #fafafa;
    margin: 20px 0 38px;
    line-height: 23px; }
#pricing2 .black a.order {
  width: 87%;
  padding: 6px 0; }

/* Responsive
 *-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  #pricing .plan a.order, #pricing2 .plan a.order {
    width: 64%; } }
@media (max-width: 767px) {
  #pricing .charts_wrapp .plan {
    margin: 0 auto 30px;
    width: 95%; }
  #pricing .plan .wrapper {
    margin: 0 auto;
    text-align: center; }
  #pricing .pro .plan {
    top: 0;
    width: 95%; }
  #pricing .standar .plan {
    float: none; }
  #pricing .start p {
    margin-bottom: 20px; }
  #pricing .start a {
    display: block;
    width: 50%;
    margin: 0 auto; }

  #pricing2 .charts_wrapp .plan {
    margin: 0 auto 30px;
    width: 95%; }
  #pricing2 .plan .wrapper {
    margin: 0 auto;
    text-align: center; }
  #pricing2 .ultra .plan {
    top: 0; } }
.jms-slideshow {
  position: relative;
  width: 100%;
  min-width: 640px;
  margin: 20px auto;
  height: 460px; }

.jms-wrapper {
  width: auto;
  min-width: 600px;
  height: 540px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  outline: none;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear; }

.color-1 {
  background-color: #e3d8ff; }

.color-2 {
  background-color: #ebbbbc; }

.color-3 {
  background-color: #eed9c0; }

.color-4 {
  background-color: #dfebb1; }

.color-5 {
  background-color: #c1e6e5; }

.step {
  width: 900px;
  height: 420px;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  .step:not(.active) {
    opacity: 0;
    filter: alpha(opacity=0);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    /*IE8 */ }

.jms-content {
  margin: 0px 370px 0px 20px;
  position: relative;
  clear: both; }

.step h3 {
  color: white;
  font-size: 52px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 60px 0 10px 0; }
.step p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 34px;
  font-weight: normal;
  position: relative;
  margin: 0; }

a.jms-link {
  display: inline-block;
  font-size: 21px;
  opacity: 1;
  margin-top: 40px;
  clear: both;
  -webkit-transition: all 0.4s ease-in-out 1s;
  -moz-transition: all 0.4s ease-in-out 1s;
  -ms-transition: all 0.4s ease-in-out 1s;
  -o-transition: all 0.4s ease-in-out 1s;
  transition: all 0.4s ease-in-out 1s; }

.step:not(.active) a.jms-link {
  opacity: 0;
  margin-top: 80px; }
.step img {
  position: absolute;
  right: 0px;
  top: 30px; }

.jms-dots {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 20px;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .jms-dots span {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #777777;
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px rgba(255, 255, 255, 0.3); }
    .jms-dots span.jms-dots-current:after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 50%;
      background: white;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
      /* IE10+ */
      background: linear, top, white 0%, #f6f6f6 47%, #ededed 100%;
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
      /* IE6-9 */ }

.jms-arrows {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .jms-arrows span {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    height: 80px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }
    .jms-arrows span.jms-arrows-prev {
      background: white url("../img/slider/arrow_left.png") no-repeat 50% 50%;
      left: 0px;
      border-radius: 0px 3px 3px 0px; }
    .jms-arrows span.jms-arrows-next {
      background: white url("../img/slider/arrow_right.png") no-repeat 50% 50%;
      right: 0px;
      border-radius: 3px 0px 0px 3px; }

/* Not supported style */
.jms-wrapper.not-supported {
  background-color: #e3d8ff; }
  .jms-wrapper.not-supported:after {
    content: "The slideshow functionality is not supported on your device.";
    padding: 0px 0px 30px 0px;
    text-align: center;
    display: block; }
  .jms-wrapper.not-supported .step {
    display: none;
    position: relative;
    opacity: 1;
    filter: alpha(opacity=99);
    /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    /*IE8 */
    margin: 20px auto; }
    .jms-wrapper.not-supported .step:first-of-type {
      display: block; }
    .jms-wrapper.not-supported .step:not(.active) a.jms-link {
      opacity: 1;
      margin-top: 40px; }

html {
  font-size: 18px;
  height: 100%;
  margin: 0; }

body {
  font-size: 18px;
  height: 100%;
  padding-top: 105px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: Aller, sans-serif !important;
  font-weight: 300; }
  body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    text-rendering: optimizelegibility; }

.jumbotron {
  background-color: #34495e;
  color: white;
  padding-top: 96px;
  padding-bottom: 96px; }

@media screen and (min-width: 1200px) {
  .container {
    width: 970px !important; } }
footer {
  background-color: white; }

.navbar > .container .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0; }

.form-horizontal .checkbox, .form-horizontal .radio {
  min-height: inherit; }

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
  margin-top: 10px;
  margin-bottom: 12px;
  padding-top: inherit; }

.form-horizontal .control-label {
  padding-top: 3px; }

a:hover {
  text-decoration: none; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle; }

.img-thumbnail {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  margin: 0 auto; }

.btn {
  background-image: none; }

p {
  text-shadow: 1px 1px 0 white; }

a {
  outline: none;
  color: #5aabe2; }
  a:hover, a:active, a:focus {
    outline: none;
    color: #5aabe2; }

object, embed {
  outline: none;
  color: #5aabe2; }

a {
  color: #3498db;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.nprogress-busy {
  opacity: 0.9; }

.form-group {
  margin-bottom: 5px; }

.form-control {
  font-size: 18px; }

.input-group-addon, .form-control {
  border-radius: 0; }

#nprogress .bar {
  position: fixed;
  z-index: 10001;
  height: 5px;
  background: #18bc9c; }
#nprogress .peg {
  box-shadow: none; }
#nprogress .spinner {
  position: fixed;
  z-index: 1000000; }
#nprogress .spinner-icon {
  border-top-color: #18bc9c;
  border-left-color: #18bc9c; }

header {
  background: rgba(0, 0, 0, 0.6) !important; }

.section_header {
  width: 100%;
  margin-bottom: 60px; }
  .section_header h3 {
    border-bottom: 2px solid rgba(44, 62, 80, 0.8);
    padding-bottom: 0;
    display: inline-block;
    margin: 0; }

.page_header {
  background-color: black;
  color: white;
  font-size: 23px;
  display: inline-block;
  padding: 0 18px; }

.social_icon {
  background: url("social_icons.png") no-repeat;
  width: 110px;
  height: 18px; }

.contact_social {
  background: url("contact_social.png") no-repeat;
  width: 180px;
  height: 34px; }

input[type=password], input[type=submit], input[type=text] {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }

textarea {
  font-family: Aller, sans-serif !important;
  font-weight: 300; }

#feature_slider #ideas.slide .info h2, #feature_slider #showcasing.slide .info h2, #feature_slider #tour.slide .info h2 {
  font-family: Pacifico, serif !important; }

#features .subtitle h2, #footer .footer_header, #map h3 {
  font-family: Pacifico, serif !important; }

.navbar-brand, a.jms-link, section .subtitle h2 {
  font-family: Pacifico, serif !important; }

#footer .testimonials .name, #pricing .charts_wrapp .plan .price span.qty, #pricing2 .charts_wrapp .plan .price span.qty {
  font-family: Aller, sans-serif !important;
  font-weight: bold; }

.index {
  padding-top: 0; }

.testimonials .wrapper a {
  font-size: 14px; }

.flex-direction-nav a {
  height: 50px; }

#nprogress .bar {
  top: 136px; }
#nprogress .spinner {
  top: 60px; }

.sticky #nprogress .bar {
  top: 100px; }
.sticky #nprogress .spinner {
  top: 40px; }

section {
  min-height: 720px;
  padding: 80px 0 25px; }
  section .subtitle h2 {
    font-size: 48px; }

.section_header {
  margin-top: 20px; }

section .subtitle h2 {
  margin: 0;
  font-weight: normal;
  margin-bottom: 70px;
  text-align: center; }

#contactform .btn {
  background-color: #171717;
  border-color: #141414;
  color: #ebebeb; }
  #contactform .btn:hover {
    background-color: #030303;
    border-color: black;
    color: white; }

@media (min-width: 1200px) {
  .row {
    *zoom: 1; }
    .row:after, .row:before {
      display: table;
      line-height: 0;
      content: ""; }
    .row:after {
      clear: both; }

  .container, .navbar-fixed-bottom .container, .navbar-fixed-top .container, .navbar-static-top .container {
    width: 940px; } }
@media (max-width: 769px) {
  .lead {
    font-size: 22.5px; } }
