.ecoicon::before
  display: inline-block
  width: 60px
  text-align: center
  text-transform: none
  font-weight: normal
  font-style: normal
  font-variant: normal
  font-family: 'ecoicons'
  line-height: 1
  speak: none
  -webkit-font-smoothing: antialiased

.ecoicon-help::before
  content: "\e000"

.ecoicon-earth::before
  content: "\e004"

.ecoicon-cog::before
  content: "\e006"

.ecoicon-search::before
  content: "\e005"

.ecoicon-download::before
  content: "\e007"

.ecoicon-photoshop::before
  content: "\e001"

.ecoicon-illustrator::before
  content: "\e002"

.ecoicon-archive::before
  content: "\e00d"

.ecoicon-article::before
  content: "\e003"

.ecoicon-pictures::before
  content: "\e008"

.ecoicon-videos::before
  content: "\e009"